.dash-nav-bar{
   
    height: 50px;
    width: 100%;
    text-align: center;
    font-size: xx-large;
    background-color:#263238;
    color: white;
    font-weight: bold;
    vertical-align: middle;
    line-height: 50px;
}