.dash-nav-bar{
   
    height: 50px;
    width: 100%;
     text-align: center;
     background-color:white;
     color: #263238;
     font-weight: bold;
    // vertical-align: middle;
    // line-height: 50px;
}