<div class="loginContainer">
    <div class="logo-div">
        <img src="../../assets/logo.png" />
    </div>
  <div class="login-div">
    <div class="login-form">
        <mat-form-field class="inputField">
        <input matInput placeholder="Username" [(ngModel)]="username">
        </mat-form-field>
        <mat-form-field class="inputField">
        <input type="password" matInput placeholder="Password" [(ngModel)]="password">
        </mat-form-field>
        <button (click)="onSubmit()" mat-raised-button class="inputField button" color="primary">Login</button>
    </div>
    <div>
      {{error}}
    </div>
  </div>