.loginContainer{
    width: 100%;
    height: 100%; 
    background: #E8E8E8	;
}
.logo-div{
    text-align: center;
    padding: 10px;    
}

.login-div{
    text-align: center;
     width: 500px;
     margin-top: 70px;
     left: 35%;
     position: fixed;
}
.login-form{
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}
.inputField {
    width: 100%;
 }
.inputField.button {
    margin-top: 20px;
}
